@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <address>
        1000 University Parkway<br />
        Provo, UT 84606<br />
        <abbr title="Phone">P:</abbr>
        801-555-4321
    </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@missionhq.com">Support@missionhq.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@missionhq.com">Marketing@missionhq.com</a>
    </address>
    @using (Html.BeginForm("Message", "Send"))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal contact-form">
            @*
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MissionId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MissionId, "", new { @class = "text-danger" })
            *@
            <div class="form-group">
                @Html.Label("Name", htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.Editor("MessageAuthor", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Email", htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.Editor("MessageEmail", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Subject", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList(
                        "MessageSubject",
                        ViewData["list"] as SelectList,
                        "-- Select a Subject --",
                        new { @class = "form-control" }
                    )
            </div>
            @* Textarea box for question *@
            <div class="form-group">
                @Html.Label("Message", htmlAttributes: new { @class = "control-label" })
                <div class="">
                    @Html.TextArea("MessageBody", new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.QuestionDescription, "", new { @class = "text-danger" })*@
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    @Html.ActionLink("Submit", "Contact", "Home", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
    }
</div>